/* Empty. Add your own CSS if you like */

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@font-face {
    font-family: 'Raspoutine';
    src: url('RaspoutineClassic_TB.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Raspoutine';
    src: url('RaspoutineMedium_TB.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Raspoutine';
    src: url('RaspoutineDemiBold_TB.otf');
    font-weight: 700;
}
body {
    font-family: 'Raspoutine' !important;
}
input,
button,
select,
textarea {
    font-family: 'Raspoutine' !important;
}
.full-image {
    width: 100%;
}
a {
    text-decoration: none !important;
}
.menu-name {
    position: relative;
    top: -60px;
    background: rgba(223, 239, 238, 0.85);
    color: #280978;
    padding: 10px 5px;
    display: block;
    right: 0px;
    margin-bottom: -50px;
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.menu-title {
    color: #4d5355 !important;
}
.royal {
    color: #e5097e !important;
}
.button-royal {
    background-color: #4d5355 !important;
    border-color: #4d5355 !important;
    color: #fff !important;
}
.button-positive {
    border-color: #4d5355 !important;
    background-color: #4d5355 !important;
    color: #fff !important;
}
.button-balanced {
    border-color: #4d5355 !important;
    background-color: #4d5355 !important;
    color: #fff !important;
}
.button-outline.button-balanced {
    border-color: #39CE86 !important;
    background-color: #fff !important;
    color: #39CE86 !important;
}
.bar.bar-royal .title {
    color: #FFF;
    font-family: 'Raspoutine' !important;
    font-size: 24px;
    text-transform: lowercase;
}
.bar.bar-royal .title:first-letter {
    text-transform: uppercase !important;
}
.bar-royal {
    background-color: #d8f2ef !important;
    border-color: #4d5355 !important;
    border-bottom-width: 2px;
    background-color: #4d5355 !important;
    background-image: -webkit-linear-gradient(90deg, #d8f2ef, #d8f2ef 50%, transparent 50%) !important;
    background-image: -moz-linear-gradient(90deg, #d8f2ef, #d8f2ef 50%, transparent 50%) !important;
    background-image: -o-linear-gradient(90deg, #d8f2ef, #d8f2ef 50%, transparent 50%) !important;
    background-image: linear-gradient(0deg, #d8f2ef, #d8f2ef 50%, transparent 50%) !important;
    color: #FFF !important;
}
.tabs .tab-item {
    color: #FFF;
}
.item {
    color: #a8a8a8 !important;
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
p {
    color: #a8a8a8;
    font-family: 'Raspoutine' !important;
}
.tabs {
    background-color: #43494b !important;
    border-color: #43494b !important;
    color: #fff !important;
}
.tab-item {
    font-family: 'Raspoutine' !important;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #03e1e4;
}
.checkbox input:before,
.checkbox .checkbox-icon:before {
    border-color: #03e1e4;
}
.lookbook img {
    padding: 0 10px;
}
.productsCol .col {
    padding: 2px;
}
.bar .button.back-button {
    color: #fff;
}
.slider-pager .slider-pager-page {
    color: #696969;
}
.numeric {
    width: 55px;
    text-align: center;
    float: left;
    height: 25px !important;
    padding: 0 10px;
    color: #a8a8a8 !important;
}
.tabs-striped .tab-item + .tab-item:before {
    border-left: 0px solid #ccc;
}
img.socialicons {
    width: 10%;
}
.item-divider {
    font-family: 'Raspoutine';
    font-size: 21px;
}
.imageset {
    width: 95%;
    border: 10px solid #f7f7f7;
    height: auto;
    position: relative;
}
.toggle {
    position: absolute;
    top: 40%;
    z-index: 10;
}
.toggle.left {
    left: -30px;
}
.toggle.right {
    right: -30px;
}
.productsCol+.productsCol {
    border-top: 1px solid #ccc;
}
.productprice {
    position: relative;
    bottom: 0;
}
.productItem {
    position: relative;
}
.input-label {
    color: #A3A3A3;
    font-weight: 500;
}
.tabs .tab-item .badge.badge-royal,
.badge.badge-royal {
    background-color: #e5097e !important;
    color: #fff;
}
.imageheight {
    overflow: hidden
}
.button-royal2 {
    background: #e5097e !important;
    border-color: #e5097e !important;
    color: white;
}
.button-royal3 {
    background: #009846 !important;
    border-color: #009846 !important;
    color: white;
}
.button-bold {
    font-weight: bold;
}
.ng-invalid.ng-dirty {
    border: 1px solid red;
}
.newsletterhome {
    background: #e2e2e2;
    margin-left: 5%;
    margin-right: 5%;
    padding: 12px;
    margin-bottom: 5px;
}
.hdtitle {
    padding: 20px 0px;
    width: 90%;
    color: #4D5355;
    font-weight: bold;
    font-family: 'Raspoutine' !important;
    font-size: 18px;
}
.item-input-wrapper {
    padding-right: 0px;
    padding-left: 0px;
    background: transparent;
}
input.discountcoupon.form-control.newsletteremail.ng-pristine.ng-valid {
    padding-left: 10px;
}
.mt-5 {
    margin-top: -5px;
}
.pos {
    position: relative;
}
.text {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 250%;
}
.btnview {
    background: transparent!important;
    border: 1px solid #4D5355;
    font-size: 14px;
    color: #4D5355;
    padding: 4px 10px;
}