<!--
<ion-view view-title="miss universe" hide-nav-bar="false">
    <ion-content>
        <div>
            <div class="row jwellery">
                <div class="col bt bl">
                    <img src="img/p4.png">
                    <p class="text-center">Earing</p>
                </div>
                <div class="col bt br">
                    <img src="img/p2.png">
                    <p class="text-center">Pendant Set</p>
                </div>
            </div>
            <div class="row jwellery">
                <div class="col bl">
                    <img src="img/p1.png">
                    <p class="text-center">Finger Ring</p>
                </div>
                <div class="col br">
                    <img src="img/p3.png">
                    <p class="text-center">Bracelet</p>
                </div>
            </div>
            <div class="row jwellery">
                <div class="col bl bb">
                    <img src="img/up4.png">
                    <p class="text-center">Chain</p>
                </div>
                <div class="col br bb">
                    <img src="img/up1.png">
                    <p class="text-center">Kada</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>-->
