<ion-view title="{{products.category.name}}">
    <ion-content class="has-header">
        <div class="item item-divider">
            <h4 class="pull-left">Sort by</h4>
            <h4 class="pull-right">Filters</h4>
        </div>
        <div class="row productsCol" ng-repeat="pros in productItem | inSlicesOf:3">
            <div class="col col-33 text-center" ng-repeat="pro in pros">
                <a href="#/tab/dash/categories/product/{{pro.id}}">
                    <div class="productItem">
                        <div class="imageheight" style="width:{{imagewidth.width}}px;height:{{imagewidth.width}}px;">
                            <img ng-src="{{pro.productimage[0].image|imagepath}}" class="full-image"> 
                        </div>
                        <p class="royal productprice">{{pro.price|convertprice}}</p>
                    </div>
                </a>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" icon="ion-loading-c">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>