<ion-view title="Categories">
    <ion-content class="has-header">
        <ion-list>
            <div class="item-divider item"><span class="menu-title">New In</span>
            </div>
            <ion-item href="#/tab/dash/categories/31">View All</ion-item>

            <div class="item-divider item"><span class="menu-title">Jewellery</span>
            </div>
            <ion-item href="#/tab/dash/categories/1">View All</ion-item>
            <ion-item href="#/tab/dash/categories/2">Necklaces</ion-item>
            <ion-item href="#/tab/dash/categories/36">Pendants</ion-item>
            <ion-item href="#/tab/dash/categories/3">Bracelets</ion-item>
            <ion-item href="#/tab/dash/categories/4">Earrings</ion-item>
            <ion-item href="#/tab/dash/categories/37">Earcuffs</ion-item>
            <ion-item href="#/tab/dash/categories/5">Rings</ion-item>

            <div class="item-divider item"><span class="menu-title">Accesories</span>
            </div>
            <ion-item href="#/tab/dash/categories/6">View All</ion-item>
            <ion-item href="#/tab/dash/categories/7">Bags</ion-item>
            <ion-item href="#/tab/dash/categories/8">Scarves</ion-item>
            <ion-item href="#/tab/dash/categories/34">Hair</ion-item>
            <ion-item href="#/tab/dash/categories/35">Phone Cases</ion-item>

            <div class="item-divider item"><span class="menu-title">lyla loves..</span>
            </div>
            <ion-item href="#/tab/dash/categories/#">View All</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
