<ion-view title="MagicMirror" hide-nav-bar="true">
    <ion-content>
        <center>
            <div class="padding">
                <a href="#/tab/dash">
                    <img src="img/mlogo.png" style="width:85%;">
                </a>
            </div>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="false" auto-play="3000">
                <ion-slide>
                    <div class="">
                        <img class="mt-5" src="img/01.jpg" width="100%" />
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="">
                        <img class="mt-5" src="img/02.jpg" width="100%" />
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="">
                        <img class="mt-5" src="img/03.jpg" width="100%" />
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="">
                        <img class="mt-5" src="img/04.jpg" width="100%" />
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="">
                        <img class="mt-5" src="img/05.jpg" width="100%" />
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!--
<div class="pos">
    <a href="#">
        <img class="mt-5" src="img/inpressions.jpg" width="100%" />
    </a>
    <div class="text">
        <span>IMPRESSIONS OF EXCELLENCE</span>
        <div>
            <a href="#/tab/dash" class="btnview">View All</a>
        </div>
    </div>
</div>
-->
            <div class="pos">
                <a href="#">
                    <img class="mt-5" src="img/back2.jpg" width="100%" />
                </a>
                <div class="text">
                    <span>IMPRESSIONS OF EXCELLENCE</span>
                    <div>
                        <a href="#/tab/dash" class="btnview">View All</a>
                    </div>
                </div>
            </div>
            <div class="productset">
                <div class="imageset">
                    <div class="hdtitle">Categories</div>
                    <ion-scroll direction="x">
                        <div class="slidescrolls">
                            <div class="main-slide" ng-repeat="slider in sliderss">
                                <a href="#/tab/dash/categories/{{slider.link}}">
                                    <img src="{{slider.image}}" class="full-images">
                                    <p class="royal productprice">{{slider.name}}</p>
                                </a>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
            </div>    
                       <div class="productset">
                <div class="imageset">
                    <div class="hdtitle">What’s Trending</div>
                    <ion-scroll direction="x">
                        <div class="slidescrolls">
                            <div class="main-slide" ng-repeat="slider in slidersss">
                                <a href="#/tab/dash/categories/{{slider.link}}">
                                    <img src="{{slider.image}}" class="full-images">
                                    <p class="royal productprice">{{slider.name}}</p>
                                </a>
                            </div>
                        </div>
                    </ion-scroll>
                </div>
            </div>


        </center>
    </ion-content>
</ion-view>