<ion-view title="Magic Mirror">
    <ion-content class="has-header">
       <div class="lookbook">
        <a href="#/tab/lookbook/items">
            <img src="img/lookbook/1.jpg" alt="" class="full-image">
        </a>

        <a href="#/tab/lookbook/items">
            <img src="img/lookbook/2.jpg" alt="" class="full-image">
        </a>
        <a href="#/tab/lookbook/items">
            <img src="img/lookbook/3.jpg" alt="" class="full-image">
        </a>
        <a href="#/tab/lookbook/items">
            <img src="img/lookbook/4.jpg" alt="" class="full-image">
        </a>
        <a href="#/tab/lookbook/items">
            <img src="img/lookbook/5.jpg" alt="" class="full-image">
        </a>
        </div>
    </ion-content>
</ion-view>