<ion-view>
    <ion-content class="has-header">
        <ion-list>
            <!--
                 <div class="item-divider item"><span class="menu-title"> New Arrivals</span>
</div>
-->
            <!--            <ion-item href="#/tab/dash/categories/31"> View All</ion-item>-->
            <!--
            <div class="item-divider item"><span class="menu-title"> Designer</span>
</div>
<ion-item href="#/tab/dash/categories/58">View All</ion-item>
-->

            <!--
          <div class="item-divider item"><span class="menu-title">VILANDI</span>
</div>
<ion-item href="#/tab/dash/categories/62">Vilandi Kada</ion-item>
<ion-item href="#/tab/dash/categories/63">Vilandi Earings</ion-item>
<ion-item href="#/tab/dash/categories/64">Vilandi Finger Ring</ion-item>
<ion-item href="#/tab/dash/categories/65">Vilandi Bridal Set</ion-item>
<ion-item href="#/tab/dash/categories/66">Vilandi Set</ion-item>
<ion-item href="#/tab/dash/categories/67">Vilandi Pendant Set</ion-item>
<ion-item href="#/tab/dash/categories/68">Vilandi Bangle</ion-item>
<ion-item href="#/tab/dash/categories/37">
    View All
</ion-item>
-->
<!--            <div id="scrollArea" ng-controller="DashCtrl">-->
            <div>
                <div class="item-divider item"><span class="menu-title">AMERICAN DIAMOND</span>
                </div>
                <ion-item href="#/tab/dash/categories/AD-KADA">Kada</ion-item>
                <ion-item href="#/tab/dash/categories/AD-NECKLACE-SET">Neckless Set</ion-item>
<!--                <ion-item href="#/tab/dash/categories/AD-PENDANT-SET">Pendant Set</ion-item>-->
                <ion-item href="#/tab/dash/categories/FingerRing">Finger Ring</ion-item>
                <ion-item href="#/tab/dash/categories/AD-Bangle">Bangle</ion-item>
                <ion-item href="#/tab/dash/categories/AD-PAYAL">Payal</ion-item>
                <ion-item href="#/tab/dash/categories/AD-Mang-Tika">Mang Tika</ion-item>
                <ion-item href="#/tab/dash/categories/AD-Bracelet">Bracelet</ion-item>
                <!--
            <ion-item href="#/tab/dash/categories/35">
                View All
            </ion-item>
-->
                <div id="antique" class="item-divider item"><span class="menu-title">VILANDI</span>
                </div>
                <ion-item href="#/tab/dash/categories/Vilandi-Necklace-Set">Neckless Set</ion-item>
                
                
                <div id="antique" class="item-divider item"><span class="menu-title">ANTIQUE</span>
                </div>
                <!--            <ion-item href="#/tab/dash/categories/8">Bangle</ion-item>-->
                <ion-item href="#/tab/dash/categories/AQ-VICTORIA-SET">Victoria Set</ion-item>
                <ion-item href="#/tab/dash/categories/AQ-JUDA">Antique Juda</ion-item>
                <!--
<ion-item href="#/tab/dash/categories/38">
    View All
</ion-item>
-->
                <div id="pearl" class="item-divider item"><span class="menu-title">PEARL</span>
                </div>

                <!--            <ion-item href="#/tab/dash/categories/84">Bangle</ion-item>-->
                <ion-item href="#/tab/dash/categories/Pearl-Mala">Neckless Set</ion-item>
                <!--            <ion-item href="#/tab/dash/categories/86">Kada</ion-item>-->
                <!--
          <ion-item href="#/tab/dash/categories/40">
    View All
</ion-item>
-->
                <div class="item-divider item"><span class="menu-title">Birdal</span>
                </div>
                <ion-item href="#/tab/dash/categories/Bridal-Bangle">Bangle</ion-item>
                <!--
            <ion-item href="#/tab/dash/categories/41">
                View All
            </ion-item>
-->

                <div class="item-divider item"><span class="menu-title">CORPORATE</span>
                </div>
                <ion-item href="#/tab/dash/categories/Corporate-Earings">Corporate Earring</ion-item>
                <ion-item href="#/tab/dash/categories/Corporate-Kada">Corporate Kada</ion-item>
                <!--            <ion-item href="#/tab/dash/categories/90">Corporate Pendant Set</ion-item>-->

                <div class="item-divider item"><span class="menu-title">MICRO</span>
                </div>
                <ion-item href="#/tab/dash/categories/MICRO-JUDA">Micro Juda</ion-item>
                <ion-item href="#/tab/dash/categories/MICRO-SET">Micro Set</ion-item>
                <div class="item-divider item"><span class="menu-title">Miss Universe Category</span>
                </div>
                <!--            <ion-item href="#/tab/dash/categories/75">Pendant Set</ion-item>-->
                <ion-item href="#/tab/dash/categories/Earring">Earring</ion-item>
                <!--            <ion-item href="#/tab/dash/categories/79">Nackless Set</ion-item>-->
                <ion-item href="#/tab/dash/categories/Italian-finger-ring">Finger Ring </ion-item>
                <ion-item href="#/tab/dash/categories/Italian-kada">Kada</ion-item>
                <ion-item href="#/tab/dash/categories/AD-PENDANT-SET">Pendant Set</ion-item>
            </div>
            <!--
           <ion-item href="#/tab/dash/categories/39">
    View All
</ion-item>
-->

            <!--
            <ion-item href="#/tab/dash/categories/44"> View All
</ion-item>

             <div class="item-divider item"><span class="menu-title">Gift Card</span>
            </div>
            <ion-item href="#/tab/dash/categories/59">View All</ion-item>
-->
        </ion-list>
    </ion-content>
</ion-view>