<ion-view title="Categories">
    <ion-content class="has-header">
        <ion-list>
            <div class="item-divider item"><span class="menu-title"> New Arrivals</span>
            </div>
            <ion-item href="#/tab/dash/categories/31"> View All</ion-item>
            <div class="item-divider item"><span class="menu-title"> Designer</span>
            </div>
            <ion-item href="#/tab/dash/categories/58">View All</ion-item>

            <div class="item-divider item"><span class="menu-title">VILANDI</span>
            </div>
            <ion-item href="#/tab/dash/categories/62">Vilandi Kada</ion-item>
            <ion-item href="#/tab/dash/categories/63">Vilandi Earings</ion-item>
            <ion-item href="#/tab/dash/categories/64">Vilandi Finger Ring</ion-item>
            <ion-item href="#/tab/dash/categories/65">Vilandi Bridal Set</ion-item>
            <ion-item href="#/tab/dash/categories/66">Vilandi Set</ion-item>
            <ion-item href="#/tab/dash/categories/67">Vilandi Pendant Set</ion-item>
            <ion-item href="#/tab/dash/categories/68">Vilandi Bangle</ion-item>
            <ion-item href="#/tab/dash/categories/37">
                View All
            </ion-item>
            <div class="item-divider item"><span class="menu-title">AMERICAN DIAMOND</span>
            </div>
            <ion-item href="#/tab/dash/categories/45">Kada</ion-item>
            <ion-item href="#/tab/dash/categories/46">Neckless Set</ion-item>
            <ion-item href="#/tab/dash/categories/47">Pendant Set</ion-item>
            <ion-item href="#/tab/dash/categories/71">Finger Ring</ion-item>
            <ion-item href="#/tab/dash/categories/36">Bangle</ion-item>
            <ion-item href="#/tab/dash/categories/48">Payal</ion-item>
            <ion-item href="#/tab/dash/categories/35">
                View All
            </ion-item>
            <div class="item-divider item"><span class="menu-title">ANTIQUE</span>
            </div>
            <ion-item href="#/tab/dash/categories/75">Bangle</ion-item>
            <ion-item href="#/tab/dash/categories/56">Victoria Set</ion-item>
            <ion-item href="#/tab/dash/categories/59">Antique Juda</ion-item>
            <ion-item href="#/tab/dash/categories/38">
                View All
            </ion-item>


            <div class="item-divider item"><span class="menu-title">ITALIAN</span>
            </div>
            <ion-item href="#/tab/dash/categories/75">Pendant Set</ion-item>
            <ion-item href="#/tab/dash/categories/78">Earring</ion-item>
            <ion-item href="#/tab/dash/categories/79">Nackless Set</ion-item>
            <ion-item href="#/tab/dash/categories/81">Finger Ring </ion-item>
            <ion-item href="#/tab/dash/categories/82">Kada</ion-item>
            <ion-item href="#/tab/dash/categories/39">
                View All
            </ion-item>


            <div class="item-divider item"><span class="menu-title">PEARL</span>
            </div>

            <ion-item href="#/tab/dash/categories/84">Bangle</ion-item>
            <ion-item href="#/tab/dash/categories/85">Neckless Set</ion-item>
            <ion-item href="#/tab/dash/categories/86">Kada</ion-item>
            <ion-item href="#/tab/dash/categories/40">
                View All
            </ion-item>
            <div class="item-divider item"><span class="menu-title">Birdal</span>
            </div>
            <ion-item href="#/tab/dash/categories/87">Bangle</ion-item>
            <ion-item href="#/tab/dash/categories/41">
                View All
            </ion-item>

            <div class="item-divider item"><span class="menu-title">CORPORATE</span>
            </div>
            <ion-item href="#/tab/dash/categories/88">Corporate Earring</ion-item>
            <ion-item href="#/tab/dash/categories/89">Corporate Kada</ion-item>
            <ion-item href="#/tab/dash/categories/90">Corporate Pendant Set</ion-item>

            <div class="item-divider item"><span class="menu-title">MICRO</span>
            </div>
            <ion-item href="#/tab/dash/categories/51">Micro Juda</ion-item>
            <ion-item href="#/tab/dash/categories/52">Micro Juda</ion-item>
            <ion-item href="#/tab/dash/categories/44">
                View All
            </ion-item>
            <!-- <div class="item-divider item"><span class="menu-title">Gift Card</span>
            </div>
            <ion-item href="#/tab/dash/categories/59">View All</ion-item> --!>
        </ion-list>
    </ion-content>
</ion-view>