<div class="bar bar-header bar-stable">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
  <h1 class="title">Jewellery</h1>
       
</div>
<ion-view>
  <ion-content class="has-header padding">
      
      <div class="row">
  <div class="col col-33"><a href="#/tab/viewsingle"><img class="img-responsive item item-thumbnail" src="img/slide2.jpg"></a></div>
  <div class="col col-33"><img class="img-responsive item item-thumbnail" src="img/ionic.png"></div>
  <div class="col"><img class="img-responsive item item-thumbnail" src="img/ionic.png"></div>
</div>
      <div class="row">
          <div class="col col-33"><img class="img-responsive item item-thumbnail" src="img/slide2.jpg"></div>
          <div class="col col-33"><img class="img-responsive item item-thumbnail" src="img/slide2.jpg"></div>
          <div class="col"><img class="img-responsive item item-thumbnail" src="img/slide2.jpg"></div>
</div>
      <div class="row">
  <div class="col col-33"><img class="img-responsive item item-thumbnail" src="img/ionic.png"></div>
  <div class="col col-33"><img class="img-responsive item item-thumbnail" src="img/ionic.png"></div>
  <div class="col"><img class="img-responsive item item-thumbnail" src="img/ionic.png"></div>
</div>
  </ion-content>
</ion-view>